<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="" th:href="@{/css/pagina-sorvete-style.css}">
    <link rel="shortcut icon" href="" type="image/x-icon" th:href="@{/icon/icecream-icon.ico}">
    <title>Abacaxi</title>
    <style>
        body {
            background-color: #f3fd5a;
        }
    </style>
</head>
<body>
    <div class="container">
        <img src="https://cdn.shopify.com/s/files/1/0550/1131/1718/files/receita-sorvete-abacaxi.jpg?v=1672017679">
        <p>O sorvete de abacaxi é tropical e refrescante. Sua mistura de doçura e acidez leva você diretamente para uma ilha paradisíaca com cada mordida.</p>
    </div>
</body>
</html>