<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="" th:href="@{/css/pagina-sorvete-style.css}">
    <link rel="shortcut icon" href="" type="image/x-icon" th:href="@{/icon/icecream-icon.ico}">
    <title>Baunilha</title>
    <style>
        body {
            background-color: #ece0d1;
        }
    </style>
</head>
<body>
    <div class="container">
        <img src="https://anamariabrogui.com.br/assets/uploads/receitas/fotos/usuario-1682-db62ab5b5929527c2dc16b4914962187.jpg">
        <p>O sorvete de baunilha é um clássico atemporal. Sua suavidade e aroma natural de baunilha o tornam um favorito de muitos. É perfeito para combinar com sobremesas ou saborear sozinho.</p>
    </div>
</body>
</html>