<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="" th:href="@{/css/pagina-sorvete-style.css}">
    <link rel="shortcut icon" href="" type="image/x-icon" th:href="@{/icon/icecream-icon.ico}">
    <title>Maracujá</title>
    <style>
        body {
            background-color: #EEBB00;
        }
    </style>
</head>
<body>
    <div class="container">
        <img src="https://conteudo.imguol.com.br/2014/01/10/sorvete-de-maracuja-1389376399656_1920x1315.jpg">
        <p>O sorvete de maracujá é uma explosão cítrica de sabor. Sua acidez suave e doçura tropical fazem dele uma opção refrescante para os dias quentes.</p>
        <a href="/" class="btn-escolher-outro">Escolher outro</a>
    </div>
</body>
</html>